body {
    background-image: url("./studentcomputer.jpg");
    background-size: cover;
    background-position: fixed;
}

#contactForm {
    background-color: white;
    padding-top: 20px;
    margin-top: 10vh;
}

#finePrint {
    font-size: 8pt;
    color: lightslategray;
}

#degreeTitle {
    font-size: 12pt;
    color: black;
}

#fieldTitle {
    font-size: 12pt;
    color: black;
}

.disabledSelect {
    padding-top: 8px;
    color: grey;
    font-size: 10pt;
}

.decorated{
    overflow: hidden;
    text-align: center;
}

.decorated > span{
   position: relative;
   display: inline-block;
}

.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid lightgray;
   width: 100vw;
   margin: 0 20px;
}

.decorated > span:before{
   right: 100%;
}

.decorated > span:after{
   left: 100%;
}

button {
    width: 100%;
    align-content: center;
    justify-content: center;
}

#tellMeMore {
    height: 80px;
    background-color: blue;
}

#applyNow {
    height: 80px;
}

#addressLink {
    font-size: 9pt;
}