body {
    background-image: url("./studentcomputer.jpg");
    background-size: cover;
    background-position: fixed;
}

#contactForm {
    background-color: white;
    padding-top: 10px;
    margin-top: 10vh;
}